@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-beige-50: #faf8f5;
    --color-beige-100: #f5f1ea;
    --color-rose-400: #ec8a8f;
    --color-rose-500: #e06069;
    --color-sage-500: #5f7762;
  }

  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-gray-900 font-poppins;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
